<div class="flex p-20">
    <!-- 1. Box -->
    <div class="w-1/4 pr-4">
        <div class="bg-white p-8 rounded-lg shadow-md w-full">
            <form id="addNumberForm">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Makine
                    Numarası</label>
                <input type="number" id="number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

                <div class="mt-5">
                    <button type="submit"
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Oluştur</button>
                </div>
            </form>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div id="numbersList"></div>

        </div>
    </div>

    <!-- 2. Box -->
    <div class="w-1/4 pl-4">
        <div class="bg-white p-8 rounded-lg shadow-md w-full">
            <form id="addNameForm">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Makine
                    Adı</label>
                <input type="text" id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />


                <div class="mt-5"><button type="submit" 
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Oluştur</button>
                </div>
            </form>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div id="nameList"></div>

        </div>
    </div>
    <!-- 3. Box -->
    <div class="w-1/4 pl-4">
        <div class="bg-white p-8 rounded-lg shadow-md w-full">
            <form id="addProductForm">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ürün Adı</label>
                <input type="text" id="product"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />


                <div class="mt-5"><button type="submit"
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Oluştur</button>
                </div>
            </form>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

            <div id="productNameList"></div>




        </div>
    </div>
    <!-- 4. Box -->
    <div class="w-1/4 pl-4">
      
    </div>
</div>